---
import { Image } from "astro:assets";
import IndexCard from "./IndexCard.astro";
export interface Props {
  name: string;
  image: ImageMetadata;
  link: string;
  skills: string[];
}

const { name, image, link, skills } = Astro.props;
---

<IndexCard list={skills}>
  <span slot="lead">
    <Image src={image} alt={`Image for project ${name}`} class="image" />
  </span>
  <a href={link} slot="header">{name}</a>
  <slot slot="body" />
</IndexCard>

<style>
  .image {
    object-fit: contain;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
